@import "../variables";

.menu {
    position: relative;
        &__toggleButton {
            border: none;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        } 
        div {
            width: 1.7rem;
            height: .2rem;
            border-radius: 10px;
            background-color: $red;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                color: $red;
                padding-top: 10px;
                font-size: 20px;
                @include textFont;
                letter-spacing: 1px;
            }
        }
    }

  li:hover {
    text-decoration: underline;
}

