@import "../../variables";

.info {
    width: 80vw;
    height: 18rem;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 1rem;
    h2 {
        @include Headline;
        color: $blue;
        font-size: 40px;
        margin-bottom: 2rem;
    }
    &__text {
        width: 50%;
        height: 15rem;
        text-align: center;
        @include textFont;
    }
    &__image {
        width: 30%;
        height: 15rem;
    }
   
}

.info:hover {
    animation: hoverEffect .75s ease 1 forwards;
}

@keyframes hoverEffect {
    0% {
      @include darkShadow;
    }
    25% {
      transform: rotateZ(-.2deg);
      @include darkShadow;
    }
    50% {
      transform: rotateZ(.2deg);
      @include darkShadow;
    }
    75% {
      transform: rotateZ(-.2deg);
      @include darkShadow;
    }
    100% {
      transform: rotateZ(0);
      @include darkShadow;
    }
  }