@import "../../variables";

.ticket {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 26rem;
        width: 25rem;
        border: 1px solid $red;
        border-radius: 10px;
        margin-top: 2rem;
        background-color: white;
    h2 {
        @include Headline;
        color: $blue;
        font-size: 30px;
        margin-bottom: 2rem;
        text-align: center;
    }
    button {
        border: none;
        padding: .5rem 1rem;
        background-color: $pink;
        font-size: medium;
        font-weight: bold;
        color: white;
        border-radius: 10px;
        margin-top: 1rem;
    }
    button:hover {
        color: $red;
        font-style: italic;
        cursor: pointer;
        @include lightShadow;
    }
}


.ticket:hover {
    @include darkShadow;
    cursor: pointer;
}